@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to top, rgb(1, 1, 43), blue);
    background-attachment: fixed;
    padding-top:40px;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-content: flex-end;
    background-color: red;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.386);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: auto;
}

div#form {
    background-color: white;
    border-radius: 0 0 200px 200px;
    border-top: 5px solid black;
    height: 200px;
    width: 400px;
    margin: auto;
}

form {
    padding-top: 10px;
}

h1 {
    color: white;
    text-align: center;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.555);
}

p {
    text-indent: 50px;
    line-height: 2.3em;
    text-align: justify;
}

div#paragraphs {
    padding-top: 15px;
}

label#labelpokemon {
    padding-right: 6px;
}

label#labellevel {
    padding-right: 6px;
}

input#idlevel {
    width: 40px;
}

label#labelsplit {
    padding-right: 6px;
}

div#battle {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top:10px;
    width: 240px;
}

p#button {
    text-indent: 0;
    text-align: center;
    line-height: 0;
    transform:translateY(22px);
}

#submit {
    padding: 5px 17px;
}

div#main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-content: flex-end;
    background-color: lightgray;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.386);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: auto;
}

div#php1 {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column nowrap;
    justify-content: space-between;
    box-sizing: border-box;
    background-color: lightgray;
    border-radius: 200px 200px 0px 0px;
    border: 10px solid;
    border-bottom: 0;
    border-top-color: red;
    border-left-color: red;
    border-right-color: red;
    height: 200px;
    width: 400px;
    margin: auto;
}

div#php1 > p {
    padding-bottom: 20px;
    text-indent: 0;
    line-height: 20px;
    text-align: center;
}

div#php2 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: lightgray;
    border-radius: 0 0 200px 200px;;
    border: 10px solid;
    border-top: 0;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    height: 200px;
    width: 400px;
    margin: auto;
}

input[type="submit"] {
    border-radius: 50%;
    background-color: rgb(216, 216, 216);
    height: 40px;
    width: 40px;
}

div#halfbutton1 {
    border-radius: 200px 200px 0 0;
    background-color: rgb(216, 216, 216);
    border: 2px solid #545454;
    height: 20px;
    width: 40px;
    transform: translateY(-23px);
}

div#halfbutton2 {
    border-radius: 0 0 200px 200px;
    border: 2px solid black;
    background-color: rgb(216, 216, 216);
    height: 20px;
    width: 40px;
    margin: auto;
    transform: translateY(-10px);
}