@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to top, rgb(1, 1, 43), blue);
    background-attachment: fixed;
    padding-top:40px;
}

main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-content: flex-end;
    background-color: red;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.386);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: auto;
}

div#form {
    background-color: white;
    border-radius: 0 0 200px 200px;
    border-top: 5px solid black;
    height: 200px;
    width: 400px;
    margin: auto;
}

h1 {
    color: white;
    text-align: center;
    padding-bottom: 30px;
    text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.555);
}

p {
    text-indent: 18px;
    line-height: 2.3em;
}

p#pokemon {
    text-indent: 13px;
}

label#labelpokemon {
    padding-right: 6px;
}

p#level{
    text-indent: 23px;
}

label#labellevel {
    padding-right: 6px;
}

input#idlevel {
    width: 40px;
}

p#split {
    text-indent: 40px;
}

label#labelsplit {
    padding-right: 6px;
}

div#battle {
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top:6px;
    width: 280px;
}

p#buttom {
    text-indent: 0;
    text-align: center;
    line-height: 4em;
}

#submit {
    padding: 5px 17px;
}

div#main {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-end;
    align-content: flex-end;
    background-color: lightgray;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.386);
    border-radius: 50%;
    height: 400px;
    width: 400px;
    margin: auto;
}

div#php1 {
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;
    background-color: lightgray;
    border-radius: 200px 200px 0px 0px;
    border: 10px solid;
    border-bottom: 0;
    border-top-color: red;
    border-left-color: red;
    border-right-color: red;
    height: 200px;
    width: 400px;
    margin: auto;
}

div#php1 > p {
    padding-bottom: 20px;
    text-indent: 0;
    line-height: 20px;
    text-align: center;
}

div#php2 {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: lightgray;
    border-radius: 0 0 200px 200px;;
    border: 10px solid;
    border-top: 0;
    border-bottom-color: white;
    border-left-color: white;
    border-right-color: white;
    height: 200px;
    width: 400px;
    margin: auto;
}